<!DOCTYPE html>
<html>
	<head>
        <title>
            Login
        </title>
        <meta http-equiv="pragma" content="no-cache" />
        <link rel="stylesheet" href="../../css/main.css" type="text/css">
        <link rel="stylesheet" href="../../css/forum-loginpage.css" type="text/css">
        <meta charset="utf-8;" />
        <script src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/menu.js"></script>
    </head>
    <body>           
            <div class="nav">
                <ul class="menu">
                    <li class="inactive">
                        <a class="link" href="../../index.html">
                            Home
                        </a>
                    </li>
                    <li class="inactive">
                        <a class="link" href="../../pages/Info/info.html">
                            Info
                        </a>
                    </li>
                    <li class="inactive">
                        <a class="link" href="#">
                            Home
                        </a>
                    </li>
                    <li class="active">
                        <a class="link" href="#">
                            Forums
                        </a>
                    </li>
                    <li class="inactive">
                        <a class="link" href="#">
                            Home
                        </a>
                    </li>
                </ul>
            </div>
        <div class="container">
            <p>
                <%= data.uname + " " + data.pinput %>
            </p>
        </div>        
        <h6 id="footer">
            Made from scratch by 
            <div class="skewX-negative">
                <p id="skewX-positive">
                    Abinash Singh
                </p>
            </div>
        </h6>
    </body>
</html>